html {
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

body {
    background-color: #203647;
}

* {
    box-sizing: border-box;
}

header {
    padding: 10px 10px 10px 20px;
    margin-bottom: 15px;
    border-radius: 10px 35px;
    background-color: #4da8da;
}

.content {
    display: flex;
}

.left {
    flex: 15%;
    margin-right: 15px;
}

.right {
    flex: 85%;
}

.col {
    margin-top: 10px;
}

.left ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.left li:nth-child(odd) {
    display: block;
    border-radius: 5px 15px;
    padding: 15px;
    color: white;
    background-color:#4da8da;
}

.left li:nth-child(even) {
	display: block;
    border-radius: 5px 15px;
    padding: 15px;
    color: white;
    background-color:#36a1db;
}

.left li:hover {
	background-color: #2789be;
}

.left a {
	color: white;
	text-decoration: none;
}

.left a:hover {
    text-decoration: underline;
}

.right p {
    margin: 0;
    text-align: right;
    font-size: 20px;
}